{% extends "blog/base.html" %}

{% load static %}

{% block content %}

<div class="container text-center" id="content">
    <h1><b>Маршруты выходного дня: горы Алматы</b></h1><br>
    <img src="{% static 'blog/mountains.jpg' %}" class="img-fluid" style="align:center;">
</div><br>

<div class="container">
    <h2>Есть множество однодневных пешеходных маршрутов в Алматинских горах, называемых Заилийским Алатау. Этот горный хребет является северной частью Тянь-Шаня⛰️. Я расскажу вам о 10 тропах.</h2><br>
    <div class="row">
        <div class="col">
            <form action="{% url 'filter' %}" method="GET">
            <h3 class="sear-head editContent">Сложность</h3>
             <ul class="w3layouts-box-list">
            {% for diff in view.get_diffs %}
                <li class="editContent">
                    <input type="checkbox" class="form-check-input" name="diff" value="{{ diff.id }}">
                    <span class="span editContent">{{ diff.title }}</span>
                </li>
            {% endfor %}
            </ul>
            <button type="submit" class="btn btn-primary">Найти</button>
            </form>
        </div>
        <div class="col-10">
            <div class="row">
                {% for blog in blog_list %}
                <div class="col"><br>
                        <div class="card" style="width: 16rem;">
                            <img src="{{ blog.image.url }}" class="card-img-top">
                            <div class="card-body">
                                <a href="{% url 'blog:blog_detail' blog.id %}">
                                <h5 class="card-title">{{ blog.title }}</h5></a>
                                <p class="card-text">{{ blog.difficulty }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div><br>
</div>

<style>
    #content {
        margin-top: 30px;
    }
    .card:hover {
         transform: scale(1.1);
                 }

    .card {
        transition: transform 0.2s ease;
            }
    .card-body{
        height: 150px;
    }
    .card {
    box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
    border-radius: 0;
    border: 0;
            }

</style>

{% endblock %}
