{% extends "blog/base.html" %}

{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-10">
            <div class="row">
                {% for blog in blogs %}
                <div class="col"><br>
                        <div class="card" style="width: 16rem;">
                            <img src="{{ blog.image.url }}" class="card-img-top">
                            <div class="card-body">
                                <a href="{% url 'blog:blog_detail' blog.id %}">
                                <h5 class="card-title">{{ blog.title }}</h5></a>
                                <p class="card-text">{{ blog.difficulty }}</p>
                                <a href="{% url 'update' blog.id %}">Update</a>
                                <a href="{% url 'delete' blog.id %}">Delete</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div><br>
</div>

<style>
    #content {
        margin-top: 30px;
    }
    .card:hover {
         transform: scale(1.1);
                 }

    .card {
        transition: transform 0.2s ease;
            }
    .card-body{
        height: 150px;
    }
    .card {
    box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
    border-radius: 0;
    border: 0;
            }

</style>

{% endblock %}
